body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
}

#quiz {
    background-color: rgb(199, 195, 250);
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    color: #3b3441;
    text-align: center;
    box-shadow: 0 10px 20px rgb(73, 71, 102), 0 6px 6px rgb(166, 94, 175);   /* ez emeli ki a "dobozt" */
}

#quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

.questions {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #7435bd;
    border-bottom: 1px solid #7435bd;
    padding: 20px;
}

.answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
}

.answers div:hover {
    cursor: pointer;
    color: black;
}

.answers {
    padding: 0px 0 10px 0px;
}

.answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.answers div:first-child {
    border: none;
}

.checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

.correct, .false {
    background-color: #a4eeae;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 4px;
}

.false {
    background-color: #e72a19;
}